services:
  dashboard:
    build:
      context: .
      dockerfile: ./infra/docker/Dockerfile.dashboard
    ports:
      - "3001:3001"
    depends_on:
      - api

  api:
    build:
      context: .
      dockerfile: ./infra/docker/Dockerfile.api
    ports:
      - "4000:4000"
      - "4001:4001"
    volumes:
      - api-data:/data
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  api-data:
